* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.IMG {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

body .aboutUs {
  font-size: 25px;
  margin-left: 55px;
  border-radius: 10px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  padding: 0 10px;
  letter-spacing: 2px;
  width: max-content;
  color: #ffffff;
  cursor: default;
}

.relq {
  margin-right: 20%;
  margin-bottom: 70px;
  letter-spacing: 4px;
  font-size: 30px;
  animation: backInDown 3s alternate;
  cursor: default;
  text-shadow: 0 0 10px #ffffff;

}

.mecxelq {
  width: 300px;
  height: 300px;
}


body {
  width: 100%;
  height: auto;
  background-image: url(img/araratbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}


a {
  text-decoration: none;
}

/* CSS */
.button-64 {
  align-items: flex-end;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 5 10px;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 760px) {
  .button-64 {
    font-size: 20px;
    min-width: 196px;
  }
}



.button-64 {
  margin-left: 80%;
  margin-top: 22%;
}


@media (min-width: 500px) {
  .relq {
    font-size: 24px;
    min-width: 150px;
  }
}