* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.amazon {
    padding: 30px;
    text-decoration: none;
    transition: transform .5s;

}

.amazon:hover {
    transform: scale(1.2);
}

.hero {
    justify-content: center;
    display: flex;
    padding-top: 8%;

}



#container {
    background: url(http://wearebrown.weebly.com/uploads/1/2/4/9/124953086/596960038.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.text {
    text-shadow: 0 0 14px;
    cursor: default;
    margin: 21%;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    margin: 15% 0 0 0;
}



.amazon1 {
    text-align: center;
    padding: 3px 0 3px 0;
    margin-right: 50px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
    background: rgb(40, 203, 149);
    font-size: 25px;
    transition: transform .7s;
    border-radius: 10px;
    text-shadow: 0 0 15px;
    box-shadow: 0 0 10px rgb(35, 186, 136);

}

.amazon1:hover {
    transform: scale(1.3);
}

.mayr_ator {
    position: relative;
    top: 50%;
    width: 16em;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0 auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY (-50%);
    animation: typewriter 4s steps(40) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 17em;
    }
}

@keyframes blinkTextCursor {
    from {
        color: rgb(37, 160, 13);
        border-right-color: rgb(115, 113, 113);
    }

    to {
        color: rgba(239, 20, 12, 0.749);
        border-right-color: transparent;
    }
}



.school {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color .2s linear;
    text-shadow: 0 0 4px rgb(100, 85, 85);
}

.school:hover {
    color: rgb(231, 14, 75);
}

h3 {
    position: relative;
    top: 20px;
    cursor: pointer;
}

li {
    position: relative;
    top: 20px;
}

.button {
    font-size: xx-large;
    text-decoration: none;
    position: absolute;
    left: 82%;
    top: 8%;
    background-color: rgb(228, 228, 226);
    border-radius: 15px;
    border: 1px ridge rgb(15, 15, 15);
    box-shadow: 0px 0px 10px black;
    padding: 1px 20px;
    color: rgba(33, 24, 24, 0.601);
    transition: color .3s linear;
    transition: transform .4s;
    text-shadow: 0 0 8px;

}

.button:hover {
    color: rgb(255, 255, 255);
    background: rgb(112, 215, 78);
    transform: scale(1.2);
}

.text1 {
    text-shadow: 0 0 14px;
    cursor: default;
    position: absolute;
    top: 240%;
    margin: 15%;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text2 {
    text-shadow: 0 0 14px;
    cursor: default;
    position: absolute;
    top: 740%;
    margin: 15%;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image2 {
    width: 800px;
    height: auto;
    position: absolute;
    left: -17%;
    top: 880px;
    transition: transform 1s;
    cursor: pointer;

}

.image2:hover {
    transform: scale(1.1);
}

.image {
    position: absolute;
    left: 12%;
    top: 1550px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    cursor: pointer;

}

.image:hover {
    transform: scale(1.1);
}


.image3 {
    position: absolute;
    top: 2300px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    width: 600px;
    height: auto;
    cursor: pointer;
}

.image3:hover {
    transform: scale(1.1);
}

.image4 {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    position: absolute;
    left: 12%;
    top: 3250px;
    width: 500px;
    height: auto;
    cursor: pointer;
}

.image4:hover {
    transform: scale(1.1);
}

.image5 {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    position: absolute;
    left: -14%;
    top: 2250px;
    width: 700px;
    height: auto;
    cursor: pointer;

}

.image5:hover {
    transform: scale(1.1);
}

.image6 {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    position: absolute;
    right: 45%;
    top: 3800px;
    width: 800px;
    height: auto;
    cursor: pointer;
}

.image6:hover {
    transform: scale(1.1);
}

.about_hripsime {
    position: relative;
    left: 700px;
    top: 4000px;
    width: 550px;
    text-align: justify;



}

.image7 {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    position: absolute;
    left: 61%;
    top: 2250px;
    width: 500px;
    height: auto;
    transition: transform 1s;
    cursor: pointer;
}

.image7:hover {
    transform: scale(1.1);
}

.image8 {
    border-radius: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: transform 1s;
    position: absolute;
    left: 2%;
    top: 3000px;
    width: 900px;
    height: auto;
    cursor: pointer;
}

.image8:hover {
    transform: scale(1.1);
}

.image9 {
    position: absolute;
    right: 1%;
    top: 95%;
    border-radius: 40px;
    box-shadow: 0px 20px 15px 0 rgb(115, 106, 106);
    transition: transform 1s;
    height: auto;
    width: 900px;
    cursor: pointer;
}

.image9:hover {
    transform: scale(1.1);
}

.photo {
    position: absolute;
    top: 375%;
    left: 75px;
    transition: transform .7s;

}

.photo:hover {
    cursor: pointer;
    transform: scale(1.3);

}

.photo1 {
    position: absolute;
    bottom: -50%;
    right: 65%;
    transition: transform .7s;

}

.photo1:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.photo2 {
    position: absolute;
    bottom: -50%;
    left: 73%;
    transition: transform .7s;

}

.photo2:hover {
    cursor: pointer;
    transform: scale(1.3);
}



span {
    color: rgb(84, 80, 74);
    transition: color.2s linear;
}

span:hover {
    color: rgb(0, 0, 0);
}

#mayr_ator {
    position: relative;
    top: 1%;
}

#gayane {
    font-size: xx-large;
    text-align: center;
    width: 16em;
    position: relative;
    margin: 0 auto;
    top: 70px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY (-50%);
    animation: typewrite 4s steps(40) 1s 1 normal both,
        TextCursor 500ms steps(40) infinite normal;

}

#hripsime {
    font-size: xx-large;
    text-align: center;
    width: 16em;
    position: relative;
    margin: 0 auto;
    top: 350px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY (-50%);
    animation: type 4s steps(40) 1s 1 normal both,
        Text 500ms steps(40) infinite normal;
}

@keyframes typewrite {
    from {
        width: 0;
    }

    to {
        width: 17em;
    }
}

@keyframes TextCursor {
    from {
        color: rgb(213, 213, 33);
        border-right-color: rgb(115, 113, 113);
    }

    to {
        color: rgb(255, 85, 0);
        border-right-color: transparent;
    }
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 17em;
    }
}

@keyframes Text {
    from {
        color: rgb(75, 156, 52);
        border-right-color: rgb(115, 113, 113);
    }

    to {
        color: rgb(0, 255, 34);
        border-right-color: transparent;
    }
}


.button2 {
    font-size: xx-large;
    text-decoration: none;
    position: absolute;
    left: 80%;
    bottom: -670%;
    background-color: rgb(228, 228, 226);
    border-radius: 15px;
    border: 1px ridge rgb(15, 15, 15);
    box-shadow: 0px 0px 8px rgb(33, 32, 32);
    padding: 1px 20px;
    color: rgba(10, 5, 5, 0.601);
    transition: color .3s linear;
    transition: transform .4s;
    text-shadow: 0 0 15px;
}

.button2:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 85, 0);
    transform: scale(1.2);
}

.iframe {
    box-shadow: -30px 30px 20px rgb(40, 38, 37);
    border: 2px thin black;
    border-radius: 15px;
    position: absolute;
    top: 325%;
    left: 630px;
    transition: transform 1s;
}

.iframe:hover {
    transform: scale(1.1);
}

.button3 {
    font-size: xx-large;
    text-decoration: none;
    position: absolute;
    left: 80%;
    bottom: -1200%;
    background-color: rgb(228, 228, 226);
    border-radius: 15px;
    border: 1px ridge rgb(15, 15, 15);
    box-shadow: 0px 0px 10px black;
    padding: 1px 20px;
    color: rgba(10, 5, 5, 0.601);
    transition: color .3s linear;
    transition: transform .4s;
    text-shadow: 0 0 15px;
}

.button3:hover {
    color: rgb(255, 255, 255);
    background: rgb(149, 132, 154);
    transform: scale(1.2);
}