*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(186, 229, 235, 0.5),rgba(186, 229, 235, 0.5));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav {
    overflow: hidden;
    background-color: transparent;
  }
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.home:hover {
        transform: scale(1.5); 
  }
.monestry:hover {
    transform: scale(1.5); 
}
.nature:hover {
    transform: scale(1.5); 
}
.footer:hover {
  transform: scale(1.5); 
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 0.2px;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color:#fff;
    font-weight: 600;
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
    
      
}
nav ul li a:hover {
     width: fit-content;
    color: rgb(92, 90, 90); 
}
  
.content{
    text-align: center;
    font-size: 40px;
    color: beige;
    font-weight: 500;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.section-title {
  background: rgb(165, 126, 87);
	font-size: 4rem;
	font-weight: 300;
	color: rgb(242, 248, 250);
	margin-bottom: 10px;
	letter-spacing: 0.2rem;
	text-align: center;
}

.vanq{
    width: 700px;
    height: 500px;
    display: block;
  margin-left: 10%;
  margin-right: auto;
}
.lori{
    width: 700px;
    height: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

 /*Monestry section */

  .slide, .slide2, .slide3, .slide4 {
    width: 800px;
    height: 500px;
    margin-left: 2%;
    margin-right: auto;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container, .container2, .container3, .container4 {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides, .mySlides2, .mySlides3, .mySlides4{
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
   
  .row:after, .row2:after, .row3:after, .row4:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column, .column2, .column3, .column4 {
    float: left;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo, .demo2, .demo3, .demo4 {
    opacity: 0.6;
  }
  
  .demo, .demo2, .demo3, .demo4{
    width: 200px;
    height: 120px;
    margin-left: 17%;
    margin-right: auto;
  }
  
  .active,
  .demo:hover, .active2, .demo2:hover, .demo3:hover, .demo4:hover {
    opacity: 1;
  }

  .text1, .text2, .text3, .text4{
    position: absolute;
    right: 1%;
    width: 36%;
    border: 3px solid #2e2101;
    padding: 10px;
      
  }

  .dsex {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  #monestry{
    background-color:oldlace;
  }
   h2{
    text-align: center;
   }
  
  .about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0 30px;
  border: 3px solid #576575
 
    
  }
.contact{
  height: 100%;
    background-color: rgba(83, 35, 7, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.social{
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

    .social_item {
        width:50px ;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
       .whatsapp:hover {
        border-color: #40b839;
        box-shadow: 0px 0px 15px #40b839 ;
        color: #40b839;
    }
   
    .facebook:hover{
        border-color: rgb(6, 45, 216);
        box-shadow: 0px 0px 15px rgb(6, 45, 216);
        color: rgb(6, 45, 216);
    }
    .twitter:hover {
        border-color: rgb(73, 138, 223);
        box-shadow: 0px 0px 15px rgb(73, 138, 223);
        color: rgb(73, 138, 223);
    }
    .instagram:hover {
        border-color: rgb(221, 86, 210);
        box-shadow: 0px 0px 15px rgb(221, 86, 210);
        color: rgb(221, 86, 210);
    }
